.loader-inner {
  width: 1rem;
  animation: inner-loader-move 2s ease infinite,
    loader-width-change 2s ease infinite;
}
@keyframes inner-loader-move {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes loader-width-change {
  0%,
  100% {
    width: 0;
  }
  30% {
    width: 50%;
  }
  60% {
    width: 30%;
  }
}

.hero-bg {
  background: linear-gradient(-45deg, #02aab0, #4776e6, #00cdac, #8e54e9);
  background-size: 600%;
  -webkit-animation: hero-bg-rotate 16s linear infinite;
  animation: hero-bg-rotate 10s linear infinite;
}
@-webkit-keyframes hero-bg-rotate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
@keyframes hero-bg-rotate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
/* TODO: Custom Scrollbar */

.horizontal-scroll::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.3rem;
}
.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.horizontal-scroll::-webkit-scrollbar-thumb {
  background: #0cad7a;
  transition: 0.3s ease;
  border: 3px solid transparent;
  border-radius: 100vh;
}
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background: #059669;
}
